html {
  scroll-behavior: smooth;
}
.container{
  margin: 20px;
}
body {
  font-family: 'Raleway', serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 700 !important;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: .5rem 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    font-size: 1.25rem;
    margin: .5rem 0;
    line-height: 165%;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 .5rem 0;
}

p {
  font-family: 'Lora', serif;
  color: #21313C;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 16px 0 !important;
  padding: 0;
}
li {
  font-family: 'Lora', serif;
  color: #21313C;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 16px 0 !important;
  padding: 0;
}
a {
  color: #21313C !important;
}
.hero{
    margin-top: 50px;
}
#this-is-me{
  margin: auto;
  text-align: vertical;
}
#profile img {
  width: 60%;
  margin: auto;
  display: block;
  transition: transform 250ms;
  border-radius: 25px;
}

#profile img:hover {
  transform: translateY(-20px);
}
#bullet-points{
    color: #3a3a3a;
    font-size: 1.25em;
}
#bullet-points a {
    color: #3a3a3a;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}
#learn-more a{
  padding: 2px 22px;
  font-size: 1.25rem;
  width: 144px;
  height: 38px;
  color: #21313C;
  background: #CCCCFF;
  box-shadow: -3px 3px 0px #9E9EFF;
  border-radius: 10px;
  }
 .desc{
     margin-top: 60px;
 }
.button {
    padding: 2px 22px;
    font-size: 1rem;

    width: 144px;
    height: 38px;

    color: #21313C;
    background: #CCCCFF;
    box-shadow: -3px 3px 0px #9E9EFF;
    border-radius: 5px;
    }
  #iam-carousel{
      margin-bottom: 16px;
  }
  #about-img img{
      margin-top:48px;
      margin-left: 5vw;
      margin-right: 8vw;
      width: 26vw;
      border-radius: 25px;
      filter: drop-shadow(0px 10px 40px rgba(33, 49, 60, 0.3));
}
.highlight-link{
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0px 1px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 #9E9EFF;
}
#about-desc h1{
    margin-bottom: 16px;
}

.headers h1 {
  width: 480px;
  padding: 20px;
  margin-left: 80px;
}
.headers p {
  width: 480px;
  margin-right: 135px !important;
}
  #highlights {
    position: relative;
    top: 64px;
    padding-top: 15vh;
    width: 100%;
    margin-bottom: 12vh;
  }
  .blank {
  width: 33%;
}

/******* SCROLL *********/
.scroll {
  background-color: none;
  position: relative;
  margin-top: -96px;
}
.scroll:before,
.scroll:after {
	content: '';
	display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: 4px solid #21313C;
	border-right: 4px solid #21313C;
}

.scroll:before {
	animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll:after {
	animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}

/******* PROJECTS ********/
.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.project-text {
    width: 40%;
}

.project-img {
  width: 480px;
  height: 260px;
  margin-right: 80px;
  transition: 250ms;
  filter: drop-shadow(0px 10px 40px rgba(33, 49, 60, 0.2));
  border-radius: 25px;
}
.project-img:hover {
  transform: translateY(-20px);
}
.project h3 {
  margin-left:56px;
}

footer {
  background-color: none;
  color: #21313C;
  text-align: center;
  width: 100%;
  background-color: none;
  padding-bottom: 5vh;
}

.fa {
  padding: 15px;
  width: 80px;
  text-decoration: none;
  color: #21313C;
  opacity: 0.5;
}
.fa:hover {
    opacity: 1.0;
    color: black;
}
#writing-header{
    margin: 20px 80px;
}
#writing-desc{
    margin: 40px;
}
.genre{
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
.section{
    margin-bottom: 20px;
    margin-left: 10px;
}
.links{
    background-color: #f5f5f5;
    box-shadow: 3px 3px 0px #9E9EFF;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.project-digital {
  width: 400px;
  height: 240px;
  margin-right: 80px;
  margin-top: 60px;
  transition: 250ms;
  filter: drop-shadow(0px 10px 40px rgba(33, 49, 60, 0.2));
  border-radius: 25px;
}
.project-img:hover {
  transform: translateY(-20px);
}
.digital-text{
    width: 100%;
}
.project-title{
    margin-bottom: 20px;
}
