:root {
  --black: #3a3a3a;
  --cornflower: #6373af;
  --white: #fdfdfd;
  --lilac: #9e9eff;
}

html {
  border-color: var(--lilac);
  border-style: solid;
  border-width: 5px 0 0 0;
  overflow-y: scroll;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin: 0;
  padding: 0 1rem;
}

main {
  max-width: 680px;
  margin: 0 auto;
}

a {
  color: var(--cornflower);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  line-height: 1;
}

hr {
  border: 1px solid var(--black);
  margin-bottom: 20px;
}

img {
  max-width: 45%;
  height: auto;
  border-radius: 5px;
}
