.container{
  margin: 20px;
}
#this-is-me{
  margin: 10px;
}
#profile img {
  width: 312px;
  transition: transform 250ms;
}

#profile img:hover {
  transform: translateY(20px);
}
#bullet-points{
    color: #3a3a3a;
}
#bullet-points a {
    color: #3a3a3a;
    text-decoration: none;
    font-weight: bold;
}
#learn-more button {
  padding: 2px 22px;
  font-size: 1rem;

  width: 126px;
  height: 38px;

  color: #21313C;
  background: #CCCCFF;
  box-shadow: -3px 3px 0px #9E9EFF;
  border-radius: 5px;
  }
  #iam-carousel{
      width: 36vw;
      margin-bottom: 8px;
  }
